div
{
    background-color: grey;
}

#personalInfo
{
    display: inline-block;
    background-color: hotpink;
    margin-left: 20%;
}

.section
{
    margin-bottom: 25px;
}

#content
{
    margin-left: 7%;
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

.publication
{
    padding-bottom: 5px;
}